<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826324142089-abqfuhgghlh2q35v88ba6m1vc3i4i5pb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826324142089-abqfuhgghlh2q35v88ba6m1vc3i4i5pb</string>
	<key>API_KEY</key>
	<string>AIzaSyAEJ7AijBoHfH06w8t2UZCRLm45gSHA0mA</string>
	<key>GCM_SENDER_ID</key>
	<string>826324142089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>intermedia.rt.intermarket</string>
	<key>PROJECT_ID</key>
	<string>intermedia-ma-weatherapp</string>
	<key>STORAGE_BUCKET</key>
	<string>intermedia-ma-weatherapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826324142089:ios:10d9a956eeb7e1da4d50d8</string>
</dict>
</plist>